.calendar-event{
  h6.reading{
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing:.1em;
  }
  .reference{
    text-transform: capitalize;
    font-style: italic;
  }
  blockquote{
    border-left-width:1em;
    margin-bottom:.5em;
    font-style: normal;
  }
  .torah{
    color: $redPinterest;
    border-left-color: $redPinterest;
  }
  .prophets{
    color:$greenSpotify;
    border-left-color: $greenSpotify;
  }
  .nt{
    color:$blueVirb;
    border-left-color: $blueVirb;
  }
  .psalms{
    color:$purpleFandango;
    border-left-color: $purpleFandango;
  }
}


.collapser-button{
  background: $greenParrot;
  border-radius:3px;
  padding:.5em;
  margin:.5em 0;
  position: relative;
  width:25%;
  display: block;
  color:white!important;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none!important;
  font-weight: 900;
  font-size:.85em;
}

.main-list{
  list-style-type: none;
  li{
    a{
      text-transform: capitalize;
    }
  }
}