<div class="calendar-event">
   <blockquote class="torah">
       <h6 class="reading">torah</h6>
       <cite class="reference">{{torah}}</cite>
   </blockquote>
    <blockquote class="prophets">
        <h6 class="reading">prophets</h6>
        <cite class="reference">{{prophets}}</cite>
    </blockquote>
    <blockquote class="nt">
        <h6 class="reading">new testament</h6>
        <cite class="reference">{{newTestament}}</cite>
    </blockquote>
    <blockquote class="psalms">
        <h6 class="reading">psalms</h6>
        <cite class="reference">{{psalms}}</cite>
    </blockquote>
</div>